# Directories
.cursor/
.vscode/
.windsurf/
broadcast/*/31337/
!broadcast/*/run-latest.json
cache/
coverage/
examples/
out/

# Files
.env
*.log
.DS_Store
.gas-snapshot
.pnp.*
.solcx-lock-*
coverage.json
lcov.info
